.card{
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
}
li{
    list-style: none;
    cursor: pointer;
    margin: 10px 0;
}

li .card:hover{
    border: 1px solid rgb(42, 90, 163);
}

ol{
    padding: 0;
}